<% layout("/layouts/boilerplate") %>
<style>
   #filters{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     font-size: 20px;
   }
   .filter{
     text-align: center;
     margin-right: 4rem;
     margin-top: 2rem;
     opacity: 0.7;
   }
   .filter:hover{
     opacity: 1;
     cursor: pointer;
   }
   .filter p{
    font:1.8rem;
   }
   .tax-info{
     display: none;
   }
   .tax-toggle{
      border:2px solid black;
      border-radius: 1rem;
      height:3.5rem;
      padding:20px;
      margin-left:2rem;
      display:flex;
      align-items: center;
   }
</style>
<body>
    <div id="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>
       <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic cities</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </div>
       <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </div>
       <div class="filter">
        <div><i class="fa-brands fa-cow"></i></div>
        <p>Farms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>
      <div class="filter">
        <div><i class="fa-brands fa-cow"></i></div>
        <p>Farms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>
      <div class="tax-toggle">
         <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
          <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
         </div>
      </div>
  

    </div>
    <!-- <h3> ALL Listings</h3> -->
    <!-- <form method="Get" action="/listing/new">
        <button>Create New Listing</button>
    </form> -->
    <div class="row  row-cols-xl-3 row-cols-md-2 row-cols-sm-1 mt-3" >
      <%  for(let list of allList)  { %>
        <div>
        <a href="/listings/<%= list.id %>">
            <div class="card col listing-card" >
               <img src="<%=list.image.url %>" class="card-img-top" alt="listing" style="height:20rem">
               <div class="card-img-overlay"></div>
               <div class="card-body">
                 <p class="card-text"><a href="/listing/<%= list.id %>" id="an"><b> <%= list.title %></b></a>
                 <br>
                 &#36 <%= list.price.toLocaleString("en-US")   %>/night &nbsp; &nbsp; <i class="tax-info">+18% Tax</i>
                 </p>
                 
               </div>
            </div>
        </a>
        </div>

      <% } %>
    </div>
    
</body>
<!-- row-cols-xxl-3  row-cols-xl-3 -->
 <script>
     let taxSwitch=document.getElementById("switchCheckDefault");
     let taxInfo=document.getElementsByClassName("tax-info");
      taxSwitch.addEventListener("click",()=>{
        for(info of taxInfo){
            if(info.style.display!="inline"){
             info.style.display="inline";
            }
            else{
             info.style.display="none";
            }
        }
         
      })
 </script>